
<div class="foot">
    <div class="footerupperbox">
        <div class="footerleftbox">
            <div class="footerlogo">
            <a id="footerlogo" href="">Gasvans <i class="fa-solid fa-truck-droplet"></i></a>
            </div>
            <p class="newsletter">Join our newsletter for updates, By subscribing you agree to our Privacy policy.</p>
            <form class="emailbox">
                <input class="footinput" type="email" name="email" id="" placeholder="Enter Your Email">
                <button id="footerbtn" type="submit">Subscribe</button>
            </form>
        </div>

        <div class="footrightbox">
            <div class="rightboxhead">
                <p id="footrightboxnav1" >Pages</p>
                <p id="footrightboxnav1" >Explore</p>
                <p id="footrightboxnav1" >Social Media</p>
            </div> 
            <div class="footerlink">
                <div class="f1box">
                    <a id="f1link" href="#">Home</a>
                    <a id="f1link" href="#aboutus">AboutUs</a>
                    <a id="f1link" href="/contact">Contact</a>
                    <a id="f1link" href="/ourteam">Our Team</a>
                </div>
                <div class="f1box">
                    <a id="f1link" href="/services">Services</a>
                    <a id="f1link" href="#">Blog</a>
                    <a id="f1link" href="#">lorem</a>
                    <a id="f1link" href="#">lorem</a>
                </div>
                <div class="f1box">
                    <a id="f1link" href="#"><i class="fa-brands fa-twitter"></i> Twitter</a>
                    <a id="f1link" href="#"><i class="fa-brands fa-instagram"></i> Instagram</a>
                    <a id="f1link" href="#"><i class="fa-brands fa-linkedin"></i> Linkdin</a>
                    <a id="f1link" href="#"><i class="fa-brands fa-youtube"></i> Youtube</a>
                </div>  
            </div>            
        </div>
    </div>
    <hr class="hr" size="1">
    
    <p class="copyright">@Gasvans-2023 All Right Reserved</p>
</div>
<style>
    
.foot{
  /* position: ; */
  /* left: 0; */
  bottom: 0;
  /* right: 0; */ 
  width: 100%;
  margin-top: 100px;
  /* background-image:linear-gradient(60deg, #000000 , #252525); */
  background-color: #000000;
  padding-bottom: 10px;

}
.footerupperbox{
  display: flex;
  justify-content: center;
}
.footerleftbox{
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-left: 50px;
}
.emailbox{
  display: flex;
  gap: 40px;
}
.footinput{
  background-color: #000000;
  width: 220px;
  padding: 10px;
  border-top: 0;
  border-right: 0;
  border-left: 0;
  box-shadow: none;
  border-color: #ced4da
}
.footinput:active{
  background-color: #000000;

}
.newsletter{
  font-size: 12px;
  color: #707070;
}
.footerlogo{
  margin-top: 80px;
}
#footerlogo{
  font-family: Copperplate, "Copperplate Gothic Light", fantasy;
  font-size: 30px;
  text-decoration: none;
  color: #ffffff;
}
.fa-brands{
  color: #707070;

}
.footrightbox{
  width: 60%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 20px;
  gap: 20px;
}
.rightboxhead{
  display: flex;
  justify-content: space-evenly;
  gap: 10px;
}
#footrightboxnav1{
  color: #8b8b8b;
  font-size: 18px;
}
.footerlink{
  display: flex;
  justify-content: space-evenly;
}
.f1box{
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}
#f1link{
  font-family: 'Open Sans',sans-serif;
  font-size: 16px;
  color: #525252;
  text-decoration: none;
}
#f1link:hover{
  color: #1d1d1d;
}

.input::placeholder{
   font-size: 18px;
}
.hr{
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
}
.copyright{
  display: flex;
  justify-content: center;
  color: #979797;
  margin-top: 30px;
  font-size: 15px;
}

#footerbtn {
  background: #00ffaa;
  background-image: -webkit-linear-gradient(top, #00ffaa, #14C38E);
  background-image: -moz-linear-gradient(top, #00ffaa, #14C38E);
  background-image: -ms-linear-gradient(top, #00ffaa, #14C38E);
  background-image: -o-linear-gradient(top, #00ffaa, #14C38E);
  background-image: linear-gradient(to bottom, #00ffaa, #14C38E);
  -webkit-border-radius: 39;
  -moz-border-radius: 39;
  border-radius: 39px;
  -webkit-box-shadow: 0px 2px 8px #14C38E;
  -moz-box-shadow: 0px 2px 8px #14C38E;
  box-shadow: 0px 2px 8px #14C38E;
  font-family: Arial;
  color: #000000;
  border: none;
  font-size: 20px;
  letter-spacing: normal;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}
#btn:hover {
  background: #14C38E; 
  text-decoration: none;
}
</style>
<script src="https://kit.fontawesome.com/0ac5a0764e.js" crossorigin="anonymous"></script>
</body>
</html>
