<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Gasvans</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="css/styles.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
  <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script> 
  <script src="https://kit.fontawesome.com/0ac5a0764e.js" crossorigin="anonymous"></script>
  <!-- <link rel="shortcut icon" href="publicfavicon.ico" type="image/x-icon"> -->
  <link rel="icon" href="public/favicon.ico" type="image/x-icon"> 
 </head>
  <body>
    
  <div class="navb">
    <div class="logo">
      <a id="navheading" href="/">Gasvans <i class="fa-solid fa-truck-droplet"></i></a>
    </div>
    
    <div class="navoption">
      <div class="wrapper">
        <a class="third after navlinks" href="/">HOME</a>
      </div><div class="wrapper">
        <a class="third after navlinks" href="#aboutus">ABOUT US</a>
      </div><div class="wrapper">
        <a class="third after navlinks" href="/contact">CONTACT</a>
      </div><div class="wrapper">
        <a class="third after navlinks" href="/services">SERVICES</a>
      </div>
    </div>

    <a id="btn" href ="/login">Log In</a>  
    
  </div>




