<!DOCTYPE html>
<html>
<head>
  <title>Admin @Gasvan</title>
  <meta charset="utf-8">
  <!-- <link rel="stylesheet" href="css/styles.css"> -->
  <link href="https://fonts.googleapis.com/earlyaccess/notosanskr.css" rel="stylesheet">
</head>
<body>
  <div id="side-navbar">
     <h3 id="logo">Admin @Gasvan</h3>  
      
    <ul id="menu">
        <li><a href="#">Panel</a></li>
        <li><a href="#">All User</a></li>
        <li><a href="#">Status</a></li>
        <!-- <li><a href="#">MEMBERSHIP</a></li> -->
        <li><a href="/services">Services</a></li>
    </ul>
        <div class="sns">  
           <a class="sns" href="#">
             Log Out ->
            </a>
        </div>      
  </div>

<div id="main">
    <div class="hero-header">
        <div>
            <h1>GASVANS Admin Panel</h1>
        </div>
        <div>
            <hr>
        </div>
        
    </div>
    <div class="container">
        <h2>All User</h2>
        <div class="userinfobox">
            <p >Name</p>
            <p >----</p>
            <p >----</p>
            <p >----</p>
        </div>
    </div>
    
</div>

<style>
.userinfobox{
    height: 60px;
    display: flex;
    justify-content: space-around;
    text-align: center;
}    

.container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 968px;
    margin: auto;
    color: #ffffff;
}
h1{
    display: flex;
    justify-content: center;
}
h2{
    width: 300px;
}
body {
  margin: 0;
  min-width: 768px;
  font-family: 'Noto Sans KR', sans-serif;
  background-image: linear-gradient(90deg, #000000 , #252525);

}
#side-navbar {
  background-color: black;
  height: 100%;
  width: 250px;
  position: fixed;
}
#logo {
    color: #ffffff;
    display: block;
    margin: 30px 30px;
 }
#menu {
    list-style: none;
    padding-left: 22px;
}
#menu li:not(:last-child) {
    margin-bottom: 30px;
}
#menu li a {
    text-decoration: none;
    color: white;
}
.sns {
    margin-top: 25px;
    text-align: center;
    text-decoration: none;
    color: #ffffff;
}
 
#main {
    display: flex;
    justify-content: center;
    flex-direction: column;
  margin-left: 250px;
  /* text-align: center; */
  background-size: cover;
  background-position: center center;

}

.hero-header{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 50px;
    margin: 0;
    margin-bottom: 40px;
    color: white;
    /* font-size: 38px; */
}

</style>

</body>
</html>