<%- include('partials/header')   %>


<div class="mainpage">
    <div class="mainbox">
        <div class="maintext">
            <a id="maintitle">Gasvans</a>
            <div>
                <p>Gasvans is an online platform through which you can prebook/order refueling of your DG Sets or any diesel equipment at your location anytime & anywhere</p>
            </div>
            <!-- <div>
                <a class="log" id="btn" href="/login">SignIn/SignUp</a>
            </div> -->
            <div id="root">
                <a id="btn" href="/login">Login</a>
                <!-- <a id="btn" href="/logout" role="button">Log Out</a> -->

              </div>
        </div>
        <div>
            <img class="homeimg" src="images/Graphics2-DeliveryFuel-1536x1024.png" alt="">
        </div>
    </div>
    <!-- <div class="custom-shape-divider-bottom-1673342009">
        <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
            <path d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z" class="shape-fill"></path>
        </svg>
    </div> -->
</div>





<div class="secondpage" id="aboutus">
    <h1 class="aboutusheader">About Us</h1>
    <div class="secondpagebox" >
        <div>
            <img class="imgblob" src="images/blob.svg" alt="">
            <img class="leftimg" src="images/Home-page_Replace-Truck2-1536x818.png" alt="">
        </div>
        <div class="rightText">
                <p class="aboutustext" >__<i class="fa-solid fa-truck-droplet"></i>  Our Doorstep refueling services are designed to save businesses time and money. By partnering with us, businesses can reduce machinery downtime and eliminate the risks associated with storing, handling and
                    tracking fuel supplies on site.</p>
                <p class="aboutustext" >We provide delivery services of fuel (diesel) in India and our customers place orders using our app.</p>
                <p class="aboutustext">Our Online refueling services are designed to save businesses time and money. By partnering with us, businesses can reduce machinery downtime and eliminate the risks associated with storing, handling and
                    tracking fuel supplies on site.</p> <a id="ourteamlink" href="/ourteam"><i class="fa-solid fa-people-group"></i>  Our team</a>
        </div>
    </div>

</div>


<div class="elementor-box">
    <div class="elements1">
        <i class="fa-regular fa-square-check"></i>
        <h3>Certified Quality Standards</h3>
        Accurate Quantity
    </div>
    <div class="elements2">
        <i class="fa-regular fa-clock"></i>
        <h3>24/7 Online</h3>
        Save time and beat the queues
    </div>
    <div class="elements3">
        <i class="fa-solid fa-fill-drip"></i> 
        <h3>No Pilferage. No Adulteration</h3>
        We use technology to track every fuel delivered

    </div>
</div>
  


<!--  -->

<div class="thirdpage">
    <div class="servicesheaderbox">
        <h1 class="ourservicehead">Our Services</h1>
       Our in Gasvans App Service Features
    </div>
    <div class="service-section">
        <div class="section-block">
            <div class="section-left1">
                <i class="fa-solid fa-truck-fast"></i>
                24/7 Application Service
            </div>
            <div class="section-left1">
                <i class="fa-solid fa-shield-halved"></i>
                End-to-End Encrypted user data 
            </div>
        </div>

        <div>
            <img class="serviceimg" src="images/Graphics2-DeliveryFuel-1536x1024.png" alt="">
        </div>

        <div class="section-block">
            <div class="section-left1">
                <i class="fa-solid fa-mobile-screen"></i>
                Comes with simple and decent UI/UX design
            </div>
            <div class="section-left1">
                <i class="fa-regular fa-handshake"></i>
                Direct Sourcing - No Middle Man 
            </div>
        </div>
    </div>
    <div class="servicebtn"><a id="btn" href="/services">Explore Our Services</a></div>
</div>


<!--  -->
<div class="fourthpage">
    <div class="fourthpageheader">
        How Our IoT Integerated System Work?
    </div>
    <div >
        <img class="fourthpageimg" src="images/IOT-Device-1536x838.png" alt="">
    </div>
</div>

<!--  -->

<div class="fifthpage">
    <div class="fifthpageheadbox">
        <div class="fifthpagehead">We Aim The Best For You</div>
        We are introducing a new concept that will not only save your quality time but will be at your service as and when needed.
We are offering hassle free fueling system with our tankers running on
    </div>
    <div class="elementMainbox">
        <div class="elementRow1">
            <div class="elementbox">
                <i class="fa-solid fa-mobile-screen-button"></i>
                <h3>Easy Ordering</h3>
                Gasvans is an App based Project. Order through App or website, enter your location details and click on 'submit button. Your order will be made with us.
            </div>
            <div class="elementbox">
                <i class="fa-solid fa-location-arrow"></i>
                <h3>Get Your Preferred Location</h3>
                Choose the location where you want us to deliver the fuel. It can be your home, of ce or any other preferred location.
            </div>
            <div class="elementbox">
                <i class="fa-solid fa-envelope-open-text"></i>
                <h3>Get Notification</h3>
                Comes with notification feature letting you know about your order details and the estimated time of delivery.
            </div>
        </div>
        <div class="elementRow2">
            <div class="elementbox">
                <i class="fa-solid fa-truck-fast"></i>
                <h3>On Time Delivery</h3>
                Let us know about the time of refueling and we will be right there with our tanker within the specified time period.
            </div>
            <div class="elementbox">
                <i class="fa-solid fa-map-location"></i>
                <h3>Tracking System</h3>
                Upon ordering the user can track the fuel refilling tanker of its current location status during the transit time taken for delivery.
            </div>
            <div class="elementbox">
                <i class="fa-solid fa-globe"></i>
                <h3>24/7 Hours Online</h3>
                Our servers run round the clock fulling urgent requirement. We provide safer booking even in odd hours of time.
            </div>
        </div>
    </div>
</div>


<div class="gotobtnbox">
    <a id="btn" href="/">GoTo Top <i class="fa-solid fa-arrow-up"></i></a>
</div>

 <%- include('partials/footer')   %>