<%- include('partials/header')   %>



<div class="mainpage">
    <div class="mainbox">
        <div class="maintext">
            <a id="maintitle">Gasvans</a>
            <div>
                <p>Gasvans is an online platform through which you can prebook/order refueling of your DG Sets or any diesel equipment at your location anytime & anywhere</p>
            </div>
            <div>
                <!-- <a class="btn" href="/services">Services</a> -->
            </div>
        </div>
        <div>
            <!-- <lottie-player src="https://assets3.lottiefiles.com/packages/lf20_kzvh3s9g.json"  background="transparent"  speed="1"  style="width: 300px; height: 300px;"  loop  autoplay></lottie-player> -->
            <img src="images/tdfapp1.png" alt="">
        </div>
    </div>
    <div class="custom-shape-divider-bottom-1673342009">
        <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
            <path d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z" class="shape-fill"></path>
        </svg>
    </div>
</div>

<div class="secondpage" id="aboutus">
    <h1 class="aboutusheader">About Us</h1>
    <div class="secondpagebox" >
        <div>
            <img class="imgblob" src="images/blob.svg" alt="">
            <img class="leftimg" src="images/Home-page_Replace-Truck2-1536x818.png" alt="">
        </div>
        <div class="rightText">
            <!-- <div class="rightTextbox"> -->
                <p class="aboutustext" ><i class="fa-solid fa-truck-droplet"></i>  Our Doorstep refueling services are designed to save businesses time and money. By partnering with us, businesses can reduce machinery downtime and eliminate the risks associated with storing, handling and
                    tracking fuel supplies on site.</p>
                <p class="aboutustext" >We provide delivery services of fuel (diesel) in India and our customers place orders using our app.</p>
            <!-- </div> -->
        </div>
    </div>

</div>



 <%- include('partials/footer')   %>