body{ 
  font-family: Roboto ,Arial;
  width: 100%;
  margin: 0;
}
h1{
  color: #000000;
  /* font-size: 40px; */
}   


/*            ---------    navbar    --------- */
.navb {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 240px;
  /* background-color: #ffffff; */
  background-image: linear-gradient(30deg, #ffffff, #00ffaa);
  background-color: #FFFFFF;
  position: sticky;
  top: 0;
  z-index: 999;
  margin: auto;
  padding: 25px 0px;
  box-shadow: hsla(240,5%,41%,.2) 0px 7px 20px ;
  transition: background-color 1.4s ease-out;
}
#navheading{
  font-size: 30px;
  font-family: Copperplate, "Copperplate Gothic Light", fantasy; font-size: 24px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 26.4px;
  text-decoration: none;
  color: #222831;
}
.navoption{
  display: flex;
  justify-content: space-around;
  gap: 40px;
}
nav.scroll {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 240px;
  background-color: #ffffff;
  color: #333;
  position: sticky;
  top: 0;
  z-index: 999;
  margin: auto;
  padding: 25px 0px;
  box-shadow: hsla(240,5%,41%,.2) 0px 7px 20px ;
  transition: background-color 1.4s ease;
}
.navlinks{
  color: #202020;
  letter-spacing: 3px;
  font-size: 16px;
  text-decoration: none;
  transition: all .5s;
  transition-duration: 0.5s;
  transition-timing-function: ease;
  transition-delay: 0s;
  transition-property: all;
  
}
.navlinks:hover{
  color: #00ADB5;
  letter-spacing: 4px;
  font-size: 16px;
  text-decoration: none;
  transition: all .5s;
  transition-duration: 0.5s;
  transition-timing-function: ease;
  transition-delay: 0s;
  transition-property: all;
}
#btn {
  background: #00ffaa;
  background-image: -webkit-linear-gradient(top, #00ffaa, #14C38E);
  background-image: -moz-linear-gradient(top, #00ffaa, #14C38E);
  background-image: -ms-linear-gradient(top, #00ffaa, #14C38E);
  background-image: -o-linear-gradient(top, #00ffaa, #14C38E);
  background-image: linear-gradient(to bottom, #00ffaa, #14C38E);
  -webkit-border-radius: 39;
  -moz-border-radius: 39;
  border-radius: 3px;
  -webkit-box-shadow: 0px 2px 8px #14C38E;
  -moz-box-shadow: 0px 2px 8px #14C38E;
  box-shadow: 0px 2px 8px #14C38E;
  font-family: Arial;
  color: #000000;
  border: none;
  font-size: 20px;
  letter-spacing: normal;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}
#btn:hover {
  background: #14C38E; 
  text-decoration: none;
}

/*     ------     navbar links      -----         */
   
a,a:visited,a:hover,a:active{
  -webkit-backface-visibility:hidden;
          backface-visibility:hidden;
  position:relative;
  transition:0.5s color ease;
  text-decoration:none;
  color:#202020;
  letter-spacing: 2px;
  font-weight: lighter;
  font-size:16px;
}
a.before:before,a.after:after{
  content: "";
  transition:0.5s all ease;
  -webkit-backface-visibility:hidden;
          backface-visibility:hidden;
  position:absolute;
}
a.before:before{
  top:-0.25em;
}
a.after:after{
  bottom:-0.25em;
}
a.before:before,a.after:after{
  height:5px;
  height:0.1rem;
  width:0;
  background:#000000;
}
a.first:after{
  left:0;
}
a.second:after{
  right:0;
}
a.third:after,a.sixth:before,a.sixth:after{
  left:50%;
  -webkit-transform:translateX(-50%);
          transform:translateX(-50%);
}
 a.fourth:before,a.fourth:after{
  left:0;
}
a.fifth:before,a.fifth:after{
  right:0;
}
 a.seventh:before{
  right:0;
}
a.seventh:after{
  left:0;
}
a.eigth:before{
  left:0;
}
a.eigth:after{
  right:0;
} 
a.before:hover:before,a.after:hover:after{ 
  width:100%;
} 
/*   ----  bottom svg   ----  */

.custom-shape-divider-bottom-1673342009 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
  /* background-image: linear-gradient(90deg, #C2E59C, #64B3F4 ); */
}

.custom-shape-divider-bottom-1673342009 svg {
  position: relative;
  display: block;
  width: calc(134% + 1.3px);
  height: 190px;
  /* margin-top: 80px; */
  /* background-image: linear-gradient(90deg,#C2E59C, #64B3F4 ); */
}

.custom-shape-divider-bottom-1673342009 .shape-fill {
  fill: #ffff;
    /* background-image: linear-gradient(90deg,#C2E59C, #64B3F4 ); */

}

/*      ---------   mainpage    ---------- */
.mainpage{
  width: 100%;
  height: 600px;
  display: flex;
  justify-content: flex-start;
  margin-bottom: 150px;
  /* background-image: linear-gradient(90deg, #ffffff, #00ffaa); */
  background-color: #ffffff;

}
.mainbox{
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 100px;
  margin-left: 150px;
  /* margin-right: 150px; */
  margin-top: 30px;
}
#maintitle{
  margin-bottom: -5px;
  font-size: 40px;
  letter-spacing: -0.04em;
  line-height: 1;
  font-family: 'Monsterrat',sans-serif;
}
#maintitle{
  font-size: 60px;
 color: #222831;
}
.maintext{
  width: 450px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-bottom: 40px;
}
p{
  color: #252525;
  font-size: 19px;
  font-weight: 200;
  font-family: Roboto ,Arial;
  line-height: 25px;
  letter-spacing: 1px;
}
img{
  z-index: 99;
}
.homeimg{
  position: absolute;
  top: 120px;
  left: 570px;
  width: 700px;
  height: 500px;
  transform: rotate(25deg);
}

/*         --------   secondpage   --------- */

.secondpage{
  width: 100%;
  height: 700px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 80px;
  /* background-color: #252525; */
}
.aboutusheader{
  display: flex;
  justify-content: center;
  width: auto;
  font-size: 33px;
  font-weight: 700;
  font-family: 'Monsterrat',sans-serif;
  color: #0e0d22;
  margin-bottom: 60px;
}
.secondpagebox{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
  border-radius: 2rem;
}
.imgblob{
  width: 55%;
  top: 850px;
  left: -20px;
  position: absolute;
  z-index: -9;
}
.leftimg{
  height: 250px;
  z-index: 99;
}
.rightText{
  display: block;
  justify-content: center;
  width: 450px;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  padding: 10px 30px;
  padding-bottom: 20px;
  margin-left: 40px;
}
#ourteamlink{
  color: #00be7f;
  font-size: 18px;
}
#ourteamlink:hover{
  color: #05ffac;
  font-size: 19px;
  transition: 1s ease;
}
.aboutustext{
  color: #242424;
  font-family: 'Open Sans',sans-serif;
  font-size: 16px;
}

.elementor-box{
  height: 300px;
  display: flex;
  justify-content: center;
  margin: 80px 0px;
}

.elements1{
  background-image: linear-gradient(270deg , #00ffaa , #7cffd3);
  width: 33.3%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  /* border-right: 2px solid; */
  transition: all 0.5s ease;
}
.elements1:hover{
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.elements2:hover{
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.elements3:hover{
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.elements2{
  background-image: linear-gradient(270deg , #00ffaa , #7cffd3);
  width: 33.3%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  /* border-right: 2px solid; */
  transition: all 0.5s ease;
}
.elements3{
  background-image: linear-gradient(270deg , #00ffaa , #7cffd3);
  width: 33.3%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  transition: all 0.5s ease;
}

.fa-square-check{
  font-size: 70px;
}
.fa-clock{
  font-size: 70px;
}
.fa-fill-drip{
  font-size: 70px;
}

.thirdpage{
 /* background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='442' height='442' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%23444444' stroke-width='1'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%2304FF99'%3E%3Ccircle cx='769' cy='229' r='5'/%3E%3Ccircle cx='539' cy='269' r='5'/%3E%3Ccircle cx='603' cy='493' r='5'/%3E%3Ccircle cx='731' cy='737' r='5'/%3E%3Ccircle cx='520' cy='660' r='5'/%3E%3Ccircle cx='309' cy='538' r='5'/%3E%3Ccircle cx='295' cy='764' r='5'/%3E%3Ccircle cx='40' cy='599' r='5'/%3E%3Ccircle cx='102' cy='382' r='5'/%3E%3Ccircle cx='127' cy='80' r='5'/%3E%3Ccircle cx='370' cy='105' r='5'/%3E%3Ccircle cx='578' cy='42' r='5'/%3E%3Ccircle cx='237' cy='261' r='5'/%3E%3Ccircle cx='390' cy='382' r='5'/%3E%3C/g%3E%3C/svg%3E"); */
 height: 750px;
 margin-top: 100px;
 padding-top: 50px;

}
.servicesheaderbox{
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  width: 300px;
  margin: auto;
  font-family: 'Monsterrat',sans-serif;
  color: #0e0d22;
  margin-bottom: 60px;
}
.ourservicehead{  font-size: 33px;
  font-weight: 700;}
.service-section{
  display: flex;
  justify-content: center;
}
.section-block{
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 50px;
}
.section-left1{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  width: 300px;
  padding: 10px;
  text-align: center;
  transition: all .5s ease-in;
}
.section-left1:hover{
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  border-left: 1px solid;
  border-right: 1px solid;
  border-color: #00ffaa;
}
.serviceimg{
  width: 400px;
  height: 300px;
  transition: all 1s ease-in-out;
}
/* .serviceimg:hover{
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);

} */
.fa-truck-fast{
  font-size: 70px;
  color: #00ffaa;
}
.fa-shield-halved{
  font-size: 70px;
}
.fa-mobile-screen{
  font-size: 70px;
}
.fa-handshake{
  font-size: 70px;
  color: #00ffaa;
}
.servicebtn{
  display: flex;
  align-content: center;
  justify-content: center;
  text-align: center;
  margin-top: 50px;
  margin-left: 10px;
}


.fourthpage{
  height: 700px;
   /* background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='442' height='442' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%23444444' stroke-width='1'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%2304FF99'%3E%3Ccircle cx='769' cy='229' r='5'/%3E%3Ccircle cx='539' cy='269' r='5'/%3E%3Ccircle cx='603' cy='493' r='5'/%3E%3Ccircle cx='731' cy='737' r='5'/%3E%3Ccircle cx='520' cy='660' r='5'/%3E%3Ccircle cx='309' cy='538' r='5'/%3E%3Ccircle cx='295' cy='764' r='5'/%3E%3Ccircle cx='40' cy='599' r='5'/%3E%3Ccircle cx='102' cy='382' r='5'/%3E%3Ccircle cx='127' cy='80' r='5'/%3E%3Ccircle cx='370' cy='105' r='5'/%3E%3Ccircle cx='578' cy='42' r='5'/%3E%3Ccircle cx='237' cy='261' r='5'/%3E%3Ccircle cx='390' cy='382' r='5'/%3E%3C/g%3E%3C/svg%3E"); */

}
.fourthpageheader{
  font-family: 'Monsterrat',sans-serif;
  display: flex;
  justify-content: center;
  margin: auto;
  font-size: 33px;
  font-weight: 700;
  width: 430px;
  text-align: center;
  margin-bottom: 40px;
}
.fourthpageimg{
  display: flex;
  justify-content: center;
  width: 700px;
  /* height: 75%; */
  margin: auto;
  margin-top: 20px;
  transition: all .5s;
}
.fourthpageimg:hover{
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.fifthpage{
  height: 600px;
}
.fifthpageheadbox{
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 860px;
  margin: auto;
  text-align: center;
  font-size: 16px;
  gap: 17px;
  font-weight: 500;
}
.fifthpagehead{
  font-size: 33px;
  font-weight: 700;
  font-family: 'Monsterrat',sans-serif;
}

.elementMainbox{
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
  margin-top: 40px;
}

.elementRow1{
  display: flex;
  justify-content: center;
  gap: 30px;
  width: 70%;
  margin: auto;
}
.elementRow2{
  display: flex;
  justify-content: center;
  gap: 30px;
  width: 70%;
  margin: auto;
}

.elementbox{
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  width: 300px;
  margin: auto;
  font-size: 12px;
  letter-spacing: 1px;
  transition: all 0.5s ease-in-out;
  border-radius: 20px;
  padding: 20px;
}
.elementbox:hover{
  box-shadow: 0 14px 28px rgb(0, 255, 149), 0 10px 10px rgba(0, 255, 149);
  border-left: 1px solid;
  border-right: 1px solid;
  border-radius: 20px;
  border-color: #00ffaa;

}

.fa-mobile-screen-button{
  font-size: 50px;
  color: #00ffaa;
}
.fa-location-arrow{
  font-size: 50px;
  color: #00ffaa;
}
.fa-envelope-open-text{
  font-size: 50px;
  color: #00ffaa;
}
.fa-truck-fast{
  font-size: 50px;
  color: #00ffaa;
}
.fa-map-location{
  font-size: 50px;
  color: #00ffaa;
}
.fa-globe{
  font-size: 50px;
  color: #00ffaa;
}
.gotobtnbox{
  display: flex;
  justify-content: flex-end;
  margin-top: 30px;
}